@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0208;
  /* overflow: hidden; */
}

#timeline-circle {
  border-radius: 50%;
  transform: translateX(-40%);
  position: fixed;
  top: 55%;
}

#timeline::before {
  content: "";
  position: absolute;
  background: white;
  width: 0.1rem;
  height: 500vh;
  top: -20rem;
  transform: translateX(20%);
}

#typewriter {
  --length: 9;
  --speed: 2s;
}

#typewriter.type::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0d0208;
  animation: typewriter var(--speed) steps(var(--length)) infinite 1s;
}

#typewriter-wrapper {
  margin-top: 26.5rem;
}
.space-elle {
  margin-bottom: 5rem;
  margin-top: 10rem;
}

#robotics-img {
  width: 70vw;
  margin-top: 5rem;
}

#robotics-img.fade-in {
  animation-delay: 500ms;
}

#typewriter::after {
  animation: typewriter var(--speed) steps(var(--length)) infinite 1s,
    blink 700ms steps(2, start) infinite;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0.45em;
  background-color: #00ff41;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.scratch-img iframe {
  margin-bottom: 1.5rem;
  width: 30vw;
  height: 40vh;
}

.scratch-img img {
  display: none;
}

.scratch-img {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scratch-img-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#aspiration,
#scratch-img-wrapper,
#robotics-wrapper,
#scratch-wrapper,
#scratch-img,
#robotics-img {
  opacity: 0;
  transform: translateY(50px);
  transition: 500ms all ease-out;
}

#aspiration.fade-in,
#scratch-img-wrapper.fade-in,
#scratch-wrapper.fade-in,
#robotics-wrapper.fade-in,
#robotics-img.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#nav {
  position: fixed;
  min-width: 100vw;
  top: 0;
  z-index: 100;

  background: linear-gradient(
    180deg,
    rgba(13, 2, 8),
    rgba(13, 2, 8),
    rgba(13, 2, 8),
    transparent
  );
}
/* 
#nav::before {
  content: "";
  bottom: -3rem;
  left: 0;
  position: absolute;
  right: 0;
  height: 3rem;
  background-color: red;
  background: linear-gradient(180deg, rgba(13, 2, 8), transparent);
} */

#container {
  margin-left: 20rem;
}

.button {
  padding: 0.5rem 1rem;
  background: #00ff41;
  color: black;
}

@media (max-width: 500px) {
  .space-elle {
    margin-bottom: 3rem;
    margin-top: 9rem;
  }
  .space-elle:nth-child(2) {
    margin-top: 10rem;
  }
  #container {
    margin-left: 3rem;
  }
  .ham {
    background-color: white;
    margin-bottom: 5px;
    height: 3px;
    width: 20px;
  }

  #timeline-circle {
    width: 15px;
    height: 15px;
  }

  #ham-wrapper {
    cursor: pointer;
  }

  #robotics-img {
    margin-top: 3rem;
  }

  .ham:nth-child(3) {
    margin-bottom: 0;
  }

  #typewriter-wrapper {
    margin-top: 27.4rem;
  }
  #nav {
    padding-bottom: 2rem;
  }

  #scratch-img-wrapper {
    display: block;
  }

  .scratch-img img {
    display: block;
    width: 70vw;
    margin-bottom: 1rem;
  }
  .scratch-img iframe {
    display: none;
  }

  .scratch-img {
    margin-left: 2rem;
    justify-items: center;
  }

  .scratch-img:nth-child(1) {
    margin-bottom: 1rem;
  }

  #scratch-img img:nth-child(1) {
    margin-bottom: 2rem;
  }
}
