@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* 
* {
  padding: 0;
  margin: 0;
  font-family: "poppins";
}

body {
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

body {
  background-color: orange;
}

a {
  text-decoration: none;
  font-size: 5rem;
  font-family: "Poppins";
  opacity: 1;
  transition: 500ms ease-in-out;
  color: white;
}

a .yes {
  opacity: 0.3;
  transition: 500ms 500ms ease-in-out;
}

.container {
  border: 0.7em solid white;
  padding: 1rem 2rem;
  z-index: 1;
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  background-color: orange;
  width: calc(100% - 2rem);
  height: calc(100% + 1.4rem);
  left: 1rem;
  top: -0.7rem;
  transition: 500ms 500ms ease-in-out;
  z-index: -1;
}

a::after {
  content: "";
  position: absolute;
  background-color: orange;
  width: calc(100% + 1.4rem);
  /*   width: 100%; */
  height: calc(100% - 2rem);
  top: 1rem;
  left: -0.7rem;
  transition: 500ms ease-in-out;
  z-index: -1;
}

a:hover::after {
  height: 0;
  /*   left: 0; */
  /*   background-color:orange; */
  top: 5rem;
}
a:hover::before {
  width: 0px;

  left: 50%;
}

a:hover .yes {
  opacity: 1;
  transform: translate(50%);
}

a:hover .container {
  padding: 0;
}
